export LANG="en_US.UTF-8"
export LC_NUMERIC="en_US.UTF-8"
export ROS2_HONE=~/.local/opt/ros2/rolling/

export XILINX_ROOT=/opt/xilinx
export XILINX_VERSION=2020.2
export XILINX_VIVADO=$XILINX_ROOT/Vivado/$XILINX_VERSION
export XILINX_VITIS=$XILINX_ROOT/Vitis/$XILINX_VERSION
export XILINX_HLS=$XILINX_ROOT/Vitis_HLS/$XILINX_VERSION

export PATH=$XILINX_HLS/bin:$XILINX_VITIS/bin/:$PATH
export PYTHONPATH="${PYTHONPATH}:/usr/local/lib/python3.10/site-packages"
export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:/usr/local/lib"
export PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:/usr/local/lib/pkgconfig/"

